* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.App {
  flex: 1;
}

.authBackgroundImage,
.authFormContainer {
  width: 50%;
}

.footer {
  margin-top: auto;
}

@media (max-width: 1130px) {
  .authContainer {
    flex-direction: column-reverse;
  }

  .authBackgroundImage {
    width: 100%;
  }

  .authFormContainer {
    width: 100%;
  }
}
